[Desktop Entry]
Type=Application
Name=Fast Repeat
Comment=System-wide key and mouse button repeater
Exec=fastrepeat gui
Icon=fastrepeat
Terminal=false
Categories=Utility;
Keywords=keyboard;mouse;repeat;gaming;
StartupNotify=true
